[submodule "thirdparty/GSL"]
	path = thirdparty/GSL
	url = https://github.com/microsoft/GSL
[submodule "thirdparty/strong_type"]
	path = thirdparty/strong_type
	url = https://github.com/rollbear/strong_type
